.settings {
  th {
      padding: 10px 15px;
      background-color: #FFBE14;
      color: white;
      border-bottom: none;
      text-transform: lowercase;
  }

  td {
      padding: 10px 15px;
  }
}

h2 {
  text-transform: lowercase;
  margin-top: 25px;

  a {
      color: #333;
      &:hover, &:focus {
          text-decoration: none;
      }
  }
}

h3 {
  text-transform: lowercase;
  margin: 20px 0;
  a { 
      color: #1680B3; 
  }
  a:hover, a:focus {
      text-decoration: none;
      color: #1F50B8; 
  }
}

.settings-panel {
  h2 a {
      &:hover { 
          color: #FF5A14;
      }
  }
  .panel {
      border-color: #FF5A14;
  }
}

.group-panel {
  h2 a {  
      &:hover { 
          color: #1680B3;
      }
  }
  .panel {
      border-color: #1680B3;
  }
}

.current-panel {
  h2 a {  
      &:hover { 
          color: #FFBE14;
      }
  }
  .panel {
      border-color: #FFBE14;
  }
}

.setting-filters {
    margin: 20px 0;

    .btn-group {
        margin-right: 15px;
    }

    .btn-default:focus {
        background-color: #333;
    }
    .btn-default:hover {
        color: #FFBE14;
        background-color: #333;
    }
    .btn-default.active {
        background-color: #FFBE14;
        color: #333;
    }
}

/* Override colors for multi-select */
.multi {
    .settings th {
        background-color: #FF5A14
    }
    
    .setting-filters {
        .btn-default:hover {
            color: #FF5A14;
            background-color: #333;
        }
        .btn-default.active {
            background-color: #FF5A14;
            color: #333;
        }
    }
}
