#side-nav {
  background-color: #1680B3;
  background-repeat: repeat-y;
  color: white;
  height: 100vh;
  text-transform: lowercase;
  box-shadow: 0 100vh 0 0 #1680B3;

  a, a:visited {
    color: white;
  }
  
  a:hover, a:focus, a:active {
    color: #FFCD6C;
    text-decoration: none;
  }
  
}

nav {
  text-transform: lowercase;
}

li {
  list-style-type: none;
  font-size: 16px;
  margin: 5px 0;
}

